/* CSS for index.html (www.iobender.com) */

* {
	/* border: solid 1px black; */
}	

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #028e9b;
}

div {
	border-radius: 5px;
}

#sidebar {
	position: fixed;
	height: 100%;
	width: 250px;
	background-color: #028e9b;
	text-align: center;
}

#headshot {
	border-radius: 20px;
	width: 70%;
	margin: 10px;
}

#header {
	background-color: #ff4940;
	height: 15%;
	margin-left: 250px;
	text-align: center;
}

#content {
	background-color: #ffb573;
	margin-left: 250px;
	height: 85%;
}
